<IfModule mod_rewrite.c>
    RewriteEngine On
		RewriteCond %{HTTPS} off [OR]
		RewriteCond %{HTTP_HOST} !^www\.
		RewriteRule (.*) https://www.lovesita.com/$1 [R=301,L] 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>


